<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have 3 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, async mechanisms).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Build a Computer Based Testing(CBT) application. Allow users to take on exam according to different setting and schedule. With offline, restore and exam synchronizing features. (JavaFx, AngularJS, Spring MVC)
    			</li>
          <li>
            Team member as Global web service for all Trenders(6,500+) to claim their payment/purchase/order/expense with auto case assign to manager or finance approve routes. (C#.NET, AngularJS, SQL, Jenkins)
          <li>
            Develop experience with Scrum and DevOps.
    			<li>
            First Prize, Team Building. Awarded 1st prize for Trend Micro BA(Business Application) Team building. Sep 2017.
    			</li>
    			<li>
            Three times Awarded for Hung Yang Star, best performance during each quarter. (June 2015, Mar 2016, Dec 2016)
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
