<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Gaming</b>. I've been a big fan of Video games since I was a teenager. Played almost every game from Blizzard, FromSoft and GTA series. Have really great for game design and developing. Hope I can join gaming industry someday.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          LTTC (Language Training & Testing Center) Project. Desktop application to provide testing-related function for test takers, allow monitor to synchronously control max 100 apps at the same time.
    		</li>
  			<li>
          BPM (Business Process Management) project maintain and development.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Do Cosplay and Custom making.
  			</li>
  			<li>
  			   Live in Taiwan so far.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
